@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: url(../images/alhambra.webp) no-repeat center fixed;
    background-size: cover;
}

body {
    top: 40px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
    background: #f7eedd;
    color: #5e463c;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
    display: block;
    margin: 0 10px;
}

h1 {
    font-size: 1.17em;
    font-weight: bold;
    color: #5e463c;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: 400;
}

a:link {
    color: #fabe00;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #eed090;
    background-color: transparent;
    text-decoration: none;
}

.clickable {
    transition: transform .2s;
    cursor: pointer;
}

.clickable:hover {
    transform: scale(1.2);
}


a:hover {
    color: #f2f3ae;
    background-color: transparent;
    text-decoration: underline;
    transform: scale(1.05);
}

a:active {
    color: #f7eedd;
    background-color: transparent;
    text-decoration: underline;
}


/** Header **/
header {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    z-index: 99;
    width: 100%;
    background-color: #ecd9b1;
    box-shadow: 0 2px 4px #5e463c;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

#icon {
    display: flex;
    max-height: 60px;
    max-width: 60px;
    padding-left: 10px;
    justify-content: center;
    margin: 15px 0;
}

#icon>img {
    max-width: 100%;
    max-height: 100%;
}

#header-text {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

#site-heading {
    text-align: center;
    margin: 5px 0;
}

#site-subheading {
    text-align: center;
    margin: 0;
    padding: 0;
}


/** Main section **/
main {
    margin-top: 101px;
    width: 100%;
    max-width: 1200px;
}

#link-to-info-modal {
    max-height: 60px;
    padding-right: 10px;
    align-self: center;
}

.summary-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 20px;
    top: 130px;
    width: fit-content;
    max-width: 320px;
    height: fit-content;
    overflow: auto;
    background-color: rgba(242, 243, 174, .9);
    color: #5e463c;
    padding: 15px 15px 15px 30px;

    /* Black w/ opacity */
}

/* Close Button on modal */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.summaryModal li {
    list-style-type: square;
}


/** Quiz section **/
#start-quiz {
    border: solid 1px;
    border-radius: 8px;
    color: #f4f1de;
    background-color: #e07a5f;
    border-color: #5e463c;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 6px 6px 2px #5e463c;
    transition: transform .2s;
    cursor: pointer;
}

#start-quiz:hover {
    transform: scale(1.05);
}

#start-quiz-btn {
    margin: 25px;
    width: fit-content;
    text-align: center;
    font-size: 180%;
    font-weight: 700;
    color: inherit;
    background-color: inherit;
    border: none;
    cursor: inherit;
}


#quiz-title {
    display: block;
    text-align: center;
}

#question-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#question-text {
    display: block;
    margin: 10px 20px;
    text-align: center;
}

#answer-options {
    margin: 5% 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #e07a5f;
    text-shadow: #eed090;
}

.answer-option {
    background-color: #f0f8ff;
    padding: 10px 1rem;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 2px 2px 1px #5e463c;
}

#quiz-score {
    display: block;
}

#running-total {
    margin: 10px 20px;
    text-align: center;
}

.answer-correct {
    display: none;
}


/** Summary-container **/
#summary-container {
    display: flex;
    width: 100%;
    margin: 20px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.link-for-summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 120px;
    flex-grow: 1;
    transition: transform .2s;
    justify-items: center;
    align-items: center;
    border: 1px solid #5e463c;
    padding: 2px;
    margin: 2vw;
    height: 150px;
    width: 40vw;
    justify-content: center;
    cursor: pointer;
    align-content: center;
    border-radius: 6px;
    box-shadow: 6px 6px 2px #5e463c;
}

.link-for-summary:hover {
    transform: scale(1.05);
}

.xtraCollapsible,
.collapsible {
    cursor: pointer;
    background-color: #81b29a;
    color: #fafafa;
    padding: 18px;
    width: 100%;
    border: 1px #f7eedd;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-align: center;
    box-shadow: 2px 2px 1px #5e463c;
    transition: transform .2s;
}

.xtraCollapsible:hover,
.collapsible:hover {
    transform: scaleY(1.05);
}

.content p {
    margin: 10px 10px;
}

.content li {
    margin: 10px 10px 10px 30px;
}

.full-lesson {
    display: none;
}

.bullet-point-rules {
    display: none;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #ffe9c7;
}

.lesson-name h4 {
    text-align: center;
}

.link-for-summary,
.icon-for-summary {
    margin: 15px 5px;
}


/* footer styling  */
footer {
    position: sticky;
    top: 100vh;
    text-align: center;
    padding: 20px 5px;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    color: #ffe9c7;
    background-color: #5e463c;
    box-shadow: 0px -2px 4px #5e463c;
}

footer>ul#social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    flex: 1;
    width: 100%;
}

ul#social-networks a {
    color: #ffe9c7;
}


/* imprimatur */
footer:link {
    margin: 0 10px;
    font-size: 16px;
    background-color: #5e463c;
    color: #ffe9c7;
    text-decoration: none;
    font-weight: 600;
}

/* Info text */
.blurb-heading {
    letter-spacing: 1px;
    margin: 20px 0;
}

.legal-blurb {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5e463c;
    color: #fafafa;
    background-size: cover;
    background-position: 75%;
    padding: 10px 0 30px;
    margin-left: 0;
    margin-right: 0;
}

/* blurb text */
.legal-blurb p,
.legal-blurb h3 {
    max-width: 450px;
}

.legal-blurb p {
    padding: 0 8px;
    font-size: 14px;
    text-align: justify;
}

.declaration {
    margin: 8px 0;
}

.legal-blurb h3 {
    text-align: center;
    margin: 20px 0 10px;
}

.legal-blurb a {
    background-color: transparent;
    text-decoration: none;
}

address {
    padding: 18px 12px;
    font-style: italic;
}

.name-value>span {
    padding: 8px 0;
    font-weight: bolder;
}